.footer {
  background-color: #f5efdc;
  margin-top: 100px;

  height: 200px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  background-color: #f5efdc;
  box-sizing: initial;
}
